body {
  background-image: url(../images/the-flatiron-building.png);
  font-family: Helvetica;
}
.container {
  text-align: center;
}
.navigation {
  line-height: 2;
}
.about, .work, .team, .contact {
  background-color: white;
  padding: 18px;
}
.footer {
  width: 960px;
  height: 28px;
  background-color: dimgray;
  font-size: 11px;
}
.rick, .gilfoyle, .elliot {
  width: 300px;
  display: inline-block;
  border: 2px solid;
}
